<!DOCTYPE html>
<html>
  <% include ./partials/_html_head %>
<body>
  <% include ./partials/_header %>
<div class="row">
  <h2 class="left red-text col offset-m2"> Menu </h2><h2 class="left red-text col offset m8">Cart</h2>
</div>
<div class="row">
  <div class="container">
    <ul class="collapsible popout col s6 m6" data-collapsible="accordion">
      <% for (let item in dishes) { %>
      <li>
        <div class="collapsible-header"><%= dishes[item].dish_name %>
        </div>
        <div class="collapsible-body"><p><%= dishes[item].dish_description %></p> <p><%= dishes[item].price %></p>
          <a class="btn add" data-price=<%= dishes[item].price %> data-name=<%= dishes[item].dish_name %> data-items=<%= dishes[item].id%> action="/menu/cart" >Add</a>
        </div>
      </li>
      <% } %>
    </ul>
  </div>

 <div class="col s6 s6">
   <div class="container">

   <ul class="title">
    </ul>
    <ul class="sub">
    </ul>

    
        <form id="buy-now" method="POST" action="/menu/cart/buy">
        <input class="button" name="total-order" type="submit">
      </form >

  </div>
 </div>


</div>
<br>
  <div class="row">
    <div class="container col s12 m12">
      </div>
    </div>
  </div>
  <% include ./partials/_footer %>
</body>
</html>
