<!DOCTYPE html>
<html>
  <% include ./partials/_html_head %>
<body>
  <% include ./partials/_header %>
<div class="row">
  <h2 class="left red-text col offset-m2"> Menu </h2><h2 class="left red-text col offset m8">Cart</h2>
</div>
<div class="row">
  <div class="container">
    <ul class="collapsible popout col s6 m6" data-collapsible="accordion">
      <% for (let item in dishes) { %>
      <li>
        <div class="collapsible-header"><%= dishes[item].dish_name %>
        </div>
        <div class="collapsible-body"><p><%= dishes[item].dish_description %></p> <p><%= dishes[item].price %></p>
          <a class="btn add" data-price=<%= dishes[item].price %> data-name=<%= dishes[item].dish_name %> data-items=<%= dishes[item].id%> action="/menu/cart" >Add</a>
        </div>
      </li>
      <% } %>
    </ul>
  </div>

 <div class="right col s6 m6">
   <div class="container ">
      <table class="striped responsive-table bordered centered">
        <thead>
          <tr>
            <th data-field="dish_name">Dish Name</th>
            <th data-field="dish_price">Dish Price</th>
            <th data-filed="dish quantity">Dish quantity</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="cart"></td><!-- Name-->
            <td class="price">$ </td><!-- $price-->
            <td class="quantity"> </td><!-- Quantity-->
          </tr>
          <tr>
            <td>dish2</td>
            <td>dish2 price $ </td>
            <td>dish2 quantity </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>Total: $</td>
          </tr>
        </tbody>

      </table>
  </div>
 </div>
</div>
<br>
  <div class="row">
    <div class="container col s12 m12">
      <form id="buy-now" method="POST" action="/menu/cart/buy">
        <!-- CART GOES HERE -->
        <input name="total-order" type="submit">
        <p class="subtotal" id="total">Total: $<span class="empty"></span> </p>
      </form >
      </div>
    </div>
  </div>
  <% include ./partials/_footer %>
</body>
</html>
