<!DOCTYPE html>
<html>
  <% include ./partials/_html_head %>
<body>
  <% include ./partials/_header %>
<div class="row">
  <h2 class="left red-text col offset-m2"> Menu </h2><h2 class="left red-text col offset m8">Cart</h2>
</div>
<div class="row">
  <div class="container">
    <ul class="collapsible popout col s6 m6" data-collapsible="accordion">
      <% for (let item in results) { %>
      <li>
        <div class="collapsible-header"><%= results[item].dish_name %>
        </div>
        <div class="collapsible-body"><p><%= results[item].dish_description %></p> <p><%= results[item].price %></p>
          <a class="btn add" data-price=<%= results[item].price %> data-name=<%= results[item].dish_name %> action="/menu/cart" >Add</a>
        </div>
      </li>
      <% } %>
    </ul>
  </div>
 <div class="right col s6 m6">
   <div class="container cart">
      <table class="striped responsive-table bordered centered">
        <thead>
          <tr>
            <th data-field="dish_name">Dish Name</th>
            <th data-field="dish_price">Dish Price</th>
            <th data-filed="dish quantity">Dish quantity</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>dish1</td>
            <td>dish1 price $ </td>
            <td>dish1 quantity </td>
          </tr>
          <tr>
            <td>dish2</td>
            <td>dish2 price $ </td>
            <td>dish2 quantity </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>Total: $</td>
          </tr>
        </tbody>
      </table>
  </div>
 </div>
</div>
<br>
  <div class="row">
    <div class="container col s12 m12">
        <button class="btn waves-effect waves-green  col offset-m8" type="submit">Checkout Now</button>
      </div>
    </div>
  </div>
</body>
</html>
